@model HomePageViewModel
@{
    ViewData["Title"] = "Anasayfa";
}

<partial name="_Slider" model="Model.Slides" />

<!-- kart başlangıç -->
<div id="kart" class="container-fluid">
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">

        @foreach (var item in Model.Categories)
        {
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/images/@item.Image');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                            @item.Name
                        </h3>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
<!-- kart bitiş -->

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="text-center">
            <h1>Ürünlerimiz</h1>
        </div>
        <div class="owl-carousel">
            @foreach (var item in Model.Products)
            {
                <div class="item">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" src="/Images/@item.Image" alt="">
                        <div class="card-body">
                            <h5>@item.Name</h5>
                            <p class="card-text">
                                @item.Description
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- eğitim programları bitiş -->

<div id="neden">
    <div class="container">
        <div class="row">
            <div class="col-5 offset-md-1">
                <img src="/Images/bgVideo.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-5 text-white">
                <h3>Neden Infotech Academy?</h3>
                <h2>BİLİŞİM EĞİTİMLERİNİN DOĞRU ADRESİ</h2>
                <p>
                    İş hayatında aktif olarak kullanılan yazılım araçları ve teknolojiler üzerine eğitimler sunan
                    Infotech Academy, sadece teorik değil uygulamaya yönelik güncel eğitimler vermektedir. Ayrıca
                    öğrenci, yeni mezun ve kariyerini geliştirmek isteyen personellerin en çok ihtiyaç duyduğu bazı
                    sosyal meslek eğitimlerini de gerçekleştiren Infotech Academy, uygulama yönü ile
                    farklılaşmıştır.
                </p>
                <a href="/kurumsal" class="btn btn-danger">Detaylı Bilgi</a>
            </div>
        </div>
    </div>
</div>
<!-- neden bitti -->
<div class="container col-xl-12 col-xxl-10 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-5 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Neden Biz?</h1>
            <p class="col-lg-10 fs-4">
                Avantajlı eğitim firsatlarından faydalanmak için
                hemen iletişime geçin.
            </p>
        </div>
        <div class="col-md-10 mx-auto col-lg-7">
            <form asp-action="Contacts" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
                <div class="row">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" asp-for="@Model.Contact.Name" id="floatingInput" placeholder="Adınız Soyadınız">
                            <label for="floatingInput">Adınız</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" asp-for="@Model.Contact.Surname" id="floatingPassword" placeholder="Soyadınız">
                            <label for="floatingPassword">Soyadınız</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" asp-for="@Model.Contact.Email" id="floatingInput" placeholder="Mail Adresiniz">
                            <label for="floatingInput">Mail Adresiniz</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingPassword" placeholder="Almak İstediğiniz Eğitim">
                            <label for="floatingPassword">Almak İstediğiniz Eğitim</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <textarea name="txtMesaj" id="txtMesaj" class="form-control" placeholder="Mesajınız" rows="3" asp-for="@Model.Contact.Message"></textarea>
                    </div>
                </div>
                <button class="btn btn-lg btn-success mt-3" type="submit">
                    Mesajı Gönder <i class="bi bi-send"></i>
                </button>
                <hr class="my-4">

            </form>
        </div>
    </div>
</div>
<!-- mesaj gönder bitiş -->
@section Scripts {

}